body {
    background-color: #00457c;
}

h1 {
    color: #e8d4a2;
    text-align: center;
}

h2 {
    color: red;
    position: relative;
    float: left;
}

h3 {
    color: plum;
    position: relative;
    float: right;
}

h6 {
    font-size: 15px;
    color: white;
}

/*building the top navigation bar*/

.navigation {
    background-color: #e8d4a2;
    color: red;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    border-right: 1px solid #bbb;
}

li a:hover {
    background-color: #555;
    color: white;
}

/* building the comment box */

.box {
    position: relative;
    border-style: ridge;
    height: 20%;
    margin: 2.5% 5%;
    background-color: #e8d4a2;
}

.comment_view {
    position: absolute;
    top: 0;
    height: 70%;
    overflow: auto;
    width: 100%;
    color: #00457c;
}

.comment_bottom {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 50%;
    height: 20%;
}

.upvote {
    position: relative;
    float: left;
    color: green;
}

.downvote {
    position: relative;
    float: right;
    color: red;
}

/* form styling */

textarea {
    width: 80%;
    height: 80%;
}

input[type=submit] {
    position: absolute;
    right: 0;
    bottom: 0;
}

.commenters_name {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 3%;
}

/*for top comments*/

.top_comment_bottom {
    color: red;
}