body {
    background-color: #00457c;
}

h1 {
    color: #e8d4a2;
    text-align: center;
}

.intro {
    position: relative;
    border-style: ridge;
    height: 20%;
    margin: 2.5% 5%;
    background-color: #e8d4a2;
    color: #00457c;
}

.inline {
    display: inline;
}

#class_menu {
    position: relative;
    float: left;
    width: 48%;
    height: auto;
    border-style: solid;
    background-color: #e8d4a2;
}

.page_box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 70%;
    border-style: dotted;
    border-color: red;
    background-color: #e8d4a2;
    margin-top: 2%;
    margin-bottom: 2%;
}

#secondary_menu {
    position: relative;
    float: right;
    width: 48%;
    height: auto;
    border-style: solid;
    background-color: #e8d4a2;
}